
body {
    background-color: #EAE7DC;
    font-family: 'Arial';
}

header {
    background-color: #8E8D8A;
    color: white;
}

form {
    background-color: #EAE7DC;
    border: #8E8D8A;
    padding: 5px;
    margin: 20px;
}

footer{
    background-color: #8E8D8A;
}

h1, h2 {
    font-family: 'Georgia';
    color: #E85A4F;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
}

label {
    font-size: 1em;
}

form {
    border: 2px solid #E98074;
    padding: 10px;
    margin: 20px 0;
}

input, textarea {
padding: 10px;
margin: 10px 0;
}

a{
    color: #D8C3A5
}

a:hover {
    color: #E98074;
}

.button{
    background-color: #E98074;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer
}

.button:hover{
    background-color: #E85A4F;
}
.container {
    background-color: #EAE7DC;
    border: #8E8D8A;
    padding: 5px;
    margin: 20px;
    font-family: 'Georgia';
    color: #E85A4F;
}
